@import 'src/styles/mixins';

.transactions-page {
  height: calc(100vh - 234px);
  background: var(--card-color);
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  padding: 0 25px 25px;
  position: relative;
  overflow: hidden;

  &.flex {
    display: flex;
  }

  & > .list-header {
    display: grid;
    grid-template-columns: 50px 165px 165px 85px 1fr;
    border-bottom: 1px solid var(--bold-line-color);
    grid-gap: 10px;
    padding: 10px;

    & > .title {
      display: flex;
      font-weight: bold;
      font-size: 18px;
      justify-content: center;
      align-items: center;

      &:last-child {
        justify-content: flex-end;
        align-items: center;
      }
    }
  }

  & > .list {
    overflow-y: auto;
    width: calc(100% + 15px);
    padding-right: 15px;
  }

  & > .list-footer {
    border-top: 1px solid var(--line-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

    & > .button {
      @extend %btn
    }
  }
}

@media (max-width: 768px) {
  .transactions-page {
    grid-template-rows: 60px 1fr 60px;

    & > .list-header {

      & > .title {
        font-weight: 400;
        font-size: 14px;
      }
    }

    & > .list-footer {

      & > .button {
        font-weight: 300;
      }
    }
  }
}

@media (max-width: $mobile) {
  .transactions-page {
    padding: 0 12px 12px;
    grid-template-rows: 30px 1fr 30px;

    & > .list {
      width: calc(100% + 12px);
      padding-right: 12px;

    }

    & > .list-header {
      grid-template-columns: 30px 50px 50px 30px 1fr;
      & > .title {
        font-weight: 400;
        font-size: 8px;
      }
    }

    & > .list-footer {
      height: 30px;
      & > .button {
        font-size: 12px;
      }
    }
  }
}

//.titles {
//	display: grid;
//	grid-template-columns: repeat(4, 1fr);
//	border-top: 1px solid var(--line-color);
//	border-bottom: 1px solid var(--line-color);
//	padding: 15px;
//
//	& > .title {
//		font-size: 30px;
//	}
//
//	& > .title:nth-child(2),
//	& > .title:nth-child(3),
//	& > .title:nth-child(4) {
//		text-align: center;
//	}
//
//	& > .title:last-child {
//		text-align: end;
//	}
//}
//.add-new-container {
//	align-items: center;
//	padding: 30px;
//
//	& > .button {
//		@extend %btn;
//		display: flex;
//		align-items: center;
//		font-size: 18px;
//		margin-left: auto;
//		color: var(--passive-color);
//
//		svg {
//			margin-right: 5px;
//		}
//
//		svg path {
//			fill: var(--passive-color);
//		}
//	}
//}
//.list {
//	overflow: auto;
//	height: 100%;
//	& > .hidden-titles {
//		display: grid;
//		grid-template-columns: repeat(4, 1fr);
//		border-top: 1px solid var(--line-color);
//		border-bottom: 1px solid var(--line-color);
//		padding: 15px;
//
//		& > .title {
//			font-size: 30px;
//		}
//
//		& > .title:nth-child(2),
//		& > .title:nth-child(3) {
//			text-align: center;
//		}
//
//		& > .title:last-child {
//			text-align: end;
//		}
//	}
//}
