@import 'src/styles/mixins';

.balance {
	background: var(--card-color);
	padding: 15px;
	overflow: auto;

	& > .table {
		height: 100%;
		overflow: hidden;
		display: grid;
		border-bottom: 1px solid var(--bold-line-color);

		& > .header {
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			border-bottom: 1px solid var(--bold-line-color);
			border-top: 1px solid var(--bold-line-color);
			text-align: center;
			font-size: 16px;

			& > .title {
				display: flex;
				line-height: 23px;
				justify-content: center;
				align-content: center;
				padding: 10px;

				&:last-child {
					line-height: 40px;
				}
			}
		}
	}
}
@media (max-width: $tablet) {
	.balance {
		padding: 0 15px 15px;
	}
}

@media (max-width: $mobile) {
	.balance {
		padding: 0 8px 8px;
		& > .table {
			& > .header {
				& > .title {
					font-size: 8px;
					line-height: 9px;
					&:last-child {
						line-height: 9px;
					}
				}
			}
		}
	}
}
