@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("src/assets/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("src/assets/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("src/assets/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Sarala";
  font-style: normal;
  font-weight: 400;
  src: local("src/assets/fonts/Sarala/Sarala-Regular.ttf");
}

@font-face {
  font-family: "Sarala";
  font-style: normal;
  font-weight: 700;
  src: local("src/assets/fonts/Sarala/Sarala-Bold.ttf");
}
