
$font-light: 300;
$font-normal: 400;
$font-medium: 600;
$font-bold: 700;

// colors
$facebook-color: #395185;
$twitter-color: #59aeeb;
$telegram-color: #40b3e0;
$viber-color: #7e509e;
$whatsapp-color: #5bba66;

// sizes
$tablet: 1200px;
$mobile: 576px;
$iphone: 320px;
